#loading-bar .bar {
  background: $alternate-color;
}

#loading-bar .peg {
  -moz-box-shadow: $alternate-color 1px 0 6px 1px;
  -ms-box-shadow: $alternate-color 1px 0 6px 1px;
  -webkit-box-shadow: $alternate-color 1px 0 6px 1px;
  box-shadow: $alternate-color 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    display: none;
}