body {
    font: 1.4em 'Montserrat', sans-serif;
    color: $primary-text-color;
    background-color: $background-color;
}

a {
    color: $primary-color;
}

a:hover {
    color: $alternate-color;
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    text-decoration: none;
}

.highlight {
    color: $highlight-nav-color;
}

#wrapper {
    padding-left: $sidebar-width;
    @include transition(padding-left, 0.5s, ease, 0s);
}

.whispers-brand {
    float: none;
    padding: 1em 1em .25em;
    display: inline-block;
    height: auto;
}

.whispers-logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    float: left;
}

.whispers-logo-text {
    float: left;
    line-height: 30px;
    margin-top: 3px;
    margin-left: 5px;
}

// bootstrap tooltips
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $secondary-text-color;
}
.tooltip > .tooltip-inner {
    background-color: $secondary-text-color;
    color: #ffffff;
    opacity: 1;
}

#topbar-wrapper {
    background-color: $topbar-color;
    width: 100%;
    height: $topbar-height;
    #topbar-nav {
        float: right;
        padding-top: ($topbar-height - $topbar-elements-height) / 2;
        margin-right: 15px;
        .btn {
            font-size: 14px;
            line-height: 20px;
            height: $topbar-elements-height;
        }
        .btn img{
            height: 1.6em;
            margin-left: 0.4em;
        }
        .btn-social-media {
            line-height: normal;
            font-size: 24px;
            height: $topbar-elements-height;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .search-form {
        float: left;
        width: 0px;
        margin-left: 15px;
        padding-top: ($topbar-height - $topbar-elements-height) / 2;
        .input-group-addon {
            @include border-radius(0px);
            padding: 0px;
            padding-left: 5px;
            height: $topbar-elements-height;
            background-color: $shadow-color;
            color: $secondary-text-color;
            border: 0px;
            font-size: 22px;
        }
        .search-input {
            @include border-radius(0px);
            @include remove-box-shadow();
            width: 300px;
            height: $topbar-elements-height;
            font-size: 14px;
            border: 0px;
            background-color: $shadow-color;
            color: $secondary-text-color;
            padding-left: 5px;
        }
    }
}

.btn {
    color: $nav-text-color;
    background-color: $primary-color;
    border: none;

    &:hover {
        color: $highlight-nav-color;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        color: $highlight-nav-color;
    }
}

.btn-alt-style {
    background-color: $alternate-color;
}

.btn-social-media {
    background-color: transparent;
    color: $secondary-text-color;
    font-size: 185%;
    padding: 0px;

    &:hover {
        color: $alternate-color;
    }
}

#sidebar-wrapper {
    background-color: $primary-color;
    height: 100%;
    position: fixed;
    @include transition(all, 0.5s, ease, 0s);
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    hr {
        margin: .25em auto;
        opacity: 0.5;
        width: 90%;
    }
    .nav-section-label {
        color: darken($primary-color, 20%);
        font-size: 80%;
        padding: 0;
        margin: 1.65em 1.75em .5em;
        text-transform: uppercase;
    }
    a {
        color: $nav-text-color;
    }
    ul.nav {
        margin-bottom: 1em;
        li {
            a {
                font-size: 95%;
                padding: .4em 2.05rem;
                color: $nav-text-color;
                text-shadow: 1px 1px 0px rgba(0,0,0,0.05);
            }
            a:hover {
                color: $highlight-nav-color;
                background: transparent;
                cursor: pointer;
            }
            a:focus {
                color: $highlight-nav-color;
                background: transparent;
            }
            a .typcn {
                font-size: 20px;
            }
            a .typcn:after {
                content: ' ';
            }
        }
        li.active a {
            color: $highlight-nav-color;
        }
    }

    ul.nav.main-nav {
        margin: .5em 0 1em;
        li a {
            display: inline-block;
            font-size: 115%;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        li.active {
            &:after {
                position: absolute;
                content: " ";
                right: 0;
                top: 50%;
                pointer-events: none;
                border-top: .6em solid transparent;
                border-bottom: .6em solid transparent;
                border-right: .6em solid $background-color;
                margin-top: -.3em;
            }
        }
    }
}

#main-wrapper {
    position: relative;
}

#content-wrapper {
    margin-top: 15px;
    width: 100%;
    display: inline-block; // clearfix
    padding: 0;
}

#content {
    padding: 0;
}

.loading {
    background: url('../img/pac_man_loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
}

@media (max-width: 768px) {
    #wrapper {
        padding-left: 0px;
    }
    body.sidebar-opened {
        overflow: hidden;
    }
    .sidebar-opened #wrapper {
        padding-left: $sidebar-width;
        #sidebar-wrapper {
            width: $sidebar-width;
        }
        #main-wrapper {
            margin-right: -$sidebar-width;
        }
    }
    #sidebar-wrapper {
        width: 0px;
    }
    #main-wrapper {
        width: 100%;
        position: absolute;
    }
    .navbar-toggle {
        display: block;
        float: left;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: ($topbar-height - $topbar-elements-height) / 2;
        height: $topbar-elements-height;
        background-color: $secondary-text-color;
        .icon-bar {
            background-color: $topbar-color;
        }
    }
    .navbar-toggle:hover {
        .icon-bar {
            background-color: $highlight-nav-color;
        }
    }
    #topbar-wrapper .search-form {
        width: 100%;
        margin-left: 0px;
        .input-group {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .search-input {
            width: 100%;
            padding-left: 10px;
        }
        .input-group-addon {
            display: none;
        }
    }
    #content-wrapper {
        margin-top: 50px;
    }
}
