.post {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: $primary-text-color;
    padding-left: 15px;
    padding-right: 15px;

    .post-header {
        line-height: 50px;
        color: #bbbbbb;
        .share-social-media {
            float: right;
            font-size: 12px;
        }
    }
    .post-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $background-color;
        border-bottom: 1px solid $background-color;
        line-height: 1.75em;
        .post-text {
            white-space: pre-wrap;
            word-break: break-word;
        }
        .post-image {
            max-width: 100%;
            padding-bottom: 15px;
        }
        .post-facebook-link {
            text-align: right;
        }
    }
    .post-time {
        color: $faded-text-color;
    }
    .post-footer {
        line-height: 50px;
        color: $faded-text-color;
        .typcn-watch {
            font-size: 18px;
        }
        .post-media-summary {
            float: right;
            a {
                margin-left: 5px;
            }
            .tweets-count {
                color: $twitter-color;
                display: none;
            }
            .tweets-count:before {
                background: url('../img/twitter_speech.png');
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 0px;
                margin-right: 8px;
                vertical-align: middle;
            }

            .post-media-action-btn {
                color: $secondary-text-color;
                &:before {
                    margin-right: 8px;
                    margin-left: 4px;
                    font-family: 'typicons';
                    font-size: 1.6em;
                    position: relative;
                    top: 0.1em;
                }
            }

            .show-comments-btn {
                &.shown {
                    color: $primary-color;
                }
                &:before {
                    content: '\e0b8';
                }
            }

            .fb-likes {
                &.liked {
                    color: $fb-color;
                    &:before {
                        color: $fb-color;
                    }
                }
                &:before {
                    content: '\e11c';
                    color: $secondary-text-color;
                }
            }
            
            .favs-count {
                &.liked {
                    color: $alternate-color;
                    &:before {
                        color: $alternate-color;
                        content: '\e105';
                    }
                }
                &:before {
                    content: '\e108';
                    color: $secondary-text-color;
                }
            }
        }
    }
    .post-comment-list {
        .post-comment {
            padding-bottom: 15px;
            .post-user-thumbnail {
                height: 50px;
                width: 50px;
            }
        }
        .post-comment-reply {
            margin-left: 15px;
        }
    }
}
