#post-list {
    padding: 0px;
}
.post {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: $primary-text-color;
    padding-left: 15px;
    padding-right: 15px;

    .post-header {
        line-height: 50px;
        .share-social-media {
            float: right;
            font-size: 12px;
            color: #bbbbbb;
        }
    }
    .post-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $background-color;
        border-bottom: 1px solid $background-color;
        line-height: 1.75em;
        .post-image {
            width: 100%;
            padding-bottom: 15px;
        }
    }
    .post-footer {
        line-height: 50px;
        color: #bbbbbb;
        .typcn-watch {
            font-size: 18px;
        }
        .post-media-summary {
            float: right;
            a {
                margin-left: 5px;
            }
            .tweets-count {
                color: $twitter-color;
                display: none;
            }
            .tweets-count:before {
                background: url('../img/twitter_speech.png');
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 0px;
                margin-right: 8px;
                vertical-align: middle;
            }
            .fb-likes {
                color: $secondary-text-color;
            }
            .fb-likes.liked {
                color: $fb-color;
            }
            .fb-likes.liked:before {
                background: url('../img/fb_speech.png');
            }
            .fb-likes:before {
                background: url('../img/fb_speech_grey.png');
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 0px;
                margin-right: 8px;
                vertical-align: middle;
            }
            .favs-count {
                color: $secondary-text-color;
            }
            .favs-count.liked {
                color: $alternate-color;
            }
            .favs-count.liked:before {
                background: url('../img/fav_speech.png');
            }
            .favs-count:before {
                background: url('../img/fav_speech_grey.png');
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 0px;
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }
}
