#post-list {
    padding: 0px;
}
.post {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: $primary-text-color;
    padding-left: 15px;
    padding-right: 15px;

    .post-header {
        line-height: 50px;
        .share-social-media {
            float: right;
            font-size: 12px;
            color: #bbbbbb;
        }
    }
    .post-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $background-color;
        border-bottom: 1px solid $background-color;
        line-height: 1.75em;
        .post-image {
            max-width: 100%;
            padding-bottom: 15px;
        }
        .post-facebook-link {
            text-align: right;
        }
    }
    .post-time {
        color: $faded-text-color;
    }
    .post-footer {
        line-height: 50px;
        color: $faded-text-color;
        .typcn-watch {
            font-size: 18px;
        }
        .post-media-summary {
            float: right;
            a {
                margin-left: 5px;
            }
            .tweets-count {
                color: $twitter-color;
                display: none;
            }
            .tweets-count:before {
                background: url('../img/twitter_speech.png');
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 0px;
                margin-right: 8px;
                vertical-align: middle;
            }
            .show-confession-btn {
                color: $secondary-text-color;
            }
            .show-confession-btn.shown {
                color: $primary-color;
            }
            .show-confession-btn:before {
                content: '\e0b8';
                margin-left: 4px;
                font-family: 'typicons';
                font-size: 1.6em;
                position: relative;
                top: 0.1em;
            }
            .fb-likes {
                color: $secondary-text-color;
            }
            .fb-likes.liked {
                color: $fb-color;
            }
            .fb-likes.liked:before {
                color: $fb-color;
            }
            .fb-likes:before {
                content: '\e11c';
                margin-right: 8px;
                margin-left: 4px;
                color: $secondary-text-color;
                font-family: 'typicons';
                font-size: 1.6em;
                position: relative;
                top: 0.1em;
            }
            .favs-count {
                color: $secondary-text-color;
            }
            .favs-count.liked {
                color: $alternate-color;
            }
            .favs-count.liked:before {
                content: '\e105';
                color: $alternate-color;
            }
            .favs-count:before {
                content: '\e108';
                margin-right: 8px;
                margin-left: 4px;
                color: $secondary-text-color;
                font-family: 'typicons';
                font-size: 1.6em;
                position: relative;
                top: 0.1em;
            }
        }
    }
    .post-comment-list {
        .post-comment {
            padding-bottom: 15px;
        }
    }
}
