<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NUSWhispers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bower/_bower.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body ng-app="nuswhispersApp" ng-controller="MainController" ng-class="sidebarOpenedClass">
    <div id="wrapper">
      <nav id="sidebar-wrapper">
        <a class="whispers-brand navbar-brand" href="/#!home">
          <div class="whispers-logo"></div>
          <div class="whispers-logo-text">NUS<span class="highlight">Whispers</span></div>
        </a>
        <hr>
        <ul class="nav main-nav">
          <li ng-class="{active: isActivePage('/home/')}">
            <a href="/#!home"><span class="typcn typcn-pin"></span>Featured</a>
          </li>
          <li ng-class="{active: isActivePage('/popular/')}">
            <a href="/#!popular"><span class="typcn typcn-chart-line"></span>Popular</a>
          </li>
          <li ng-class="{active: isActivePage('/new/')}">
            <a href="/#!new"><span class="typcn typcn-starburst"></span>New</a>
          </li>
          <li ng-show="isLoggedIn" ng-class="{active: isActivePage('/favourites/')}">
            <a href="/#!favourites"><span class="typcn typcn-star-full-outline"></span>Favourites</a>
          </li>
        </ul>
        <hr>
        <h2 class="nav-section-label">Categories</h2>
        <ul class="nav">
          <li ng-repeat="category in categories">
            <a ng-href="/#!category/{{category.confession_category_id}}" ng-bind="category.confession_category"></a>
          </li>
        </ul>
        <hr>
        <h2 class="nav-section-label">Popular Tags</h2>
        <ul class="nav">
          <li ng-repeat="tag in tags">
            <a ng-href="/#!tag/{{tag.confession_tag.substring(1)}}" ng-bind="tag.confession_tag"></a>
          </li>
        </ul>
      </nav>
      <div id="main-wrapper">
        <div id="topbar-wrapper">
          <button type="button" class="navbar-toggle" ng-click="toggleSidebar()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="topbar-nav">
            <a class="btn btn-social-media" href="https://www.facebook.com/nuswhispers" target="_blank" tooltip-placement="bottom" tooltip="Check us out on Facebook!"><span class="typcn typcn-social-facebook"></span></a>
            <a class="btn btn-alt-style" href="/#!/submit"><span class="typcn typcn-heart-full-outline"></span> New Confession</a>
            <a ng-show="!isLoggedIn" ng-click="login()" class="btn">Login</a>
            <a ng-show="isLoggedIn" ng-click="logout()" class="btn">
              Logout<img ng-src="http://graph.facebook.com/{{fbUser.getUserID()}}/picture" />
            </a>
          </div>
          <form class="search-form" role="search" ng-submit="searchConfessions(searchQuery)">
            <div class="input-group">
              <span id="search-input-addon" class="input-group-addon">
                <span class="typcn typcn-zoom"></span>
              </span>
              <input type="text" ng-model="searchQuery" class="search-input form-control" aria-describedby="search-input-addon" placeholder="Search" />
            </div>
          </form>
        </div>
        <div id="content-wrapper" class="container">
          <div class="col-md-8 col-sm-7" ng-view></div>
          <div class="col-md-4 col-sm-5">
            <div class="fb-page" data-href="https://www.facebook.com/nuswhispers" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&amp;render=explicit" async defer></script>
    <script type="text/javascript" src="assets/bower/_bower.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="assets/js/all.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1577825682475577&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61558266-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- endbuild -->
  </body>
</html>
