<h1 class="fancy-header">Privacy Policy</h1>
<div class="privacy-content">
  <p>Our Privacy Policy was last updated and posted on 30 April 2015. It governs the privacy terms of our Website, located at www.nuswhispers.com. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Website. <strong>By using our Website, you consent to our privacy policy.</strong></p>

  <p>This privacy policy is intended for users of the Website without administrator's access.</p>

  <h2>Facebook Login</h2>
  <p>Users are allowed to connect their Facebook account with the Website, for the purpose of tracking users for the favourite confessions feature, and to be able to like and comment on confessions on the Website. We do not store any Facebook personal information aside from your Facebook account ID on the Website to our database.</p>

  <h2>Submitting Confessions</h2>
  <p>All submitted confessions are meant to be anonymous. As such, we do not track or store any personal identifable information, like your Facebook account information if you have logged in. We do not track IP addresses to submitted confessions in the database.</p>

  <h2>Cookies</h2>
  <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. NUSWhispers uses cookies to help identify and track visitors, their usage of the Website, and their website access preferences. Visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the Website, with the drawback that certain features of the Website may not function properly without the aid of cookies.</p>

  <h2>Third-Party Tracking Tools</h2>
  <p>NUSWhispers uses third-party tracking tools to improve the features and performance of the website. Please understand that these third-party services are created and managed by parties outside our control. As such, we are not responsible for what information is actually captured by such third parties or how they use that information.</p>
  <p>We use Google Analytics, a web analysis service by Google Inc. Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services. Google may use the Data collected to contextualize and personalize the ads of its own advertising network. To opt-out of Google Analytics, Google recommends installing their <a href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">browser add-on</a> to do so.</p>
  <p>Other third-party services integrated with the Website such as <a href="http://facebook.com/" target="_blank">Facebook</a> and <a href="http://filepicker.io" target="_blank">Filepicker</a> may incorporate services that track and analyse user behaviours. Again, this is not within our control.</p>

  <h2>Privacy Policy Changes</h2>
  <p>Although most changes are likely to be minor, NUSWhispers may change its Privacy Policy from time to time, and in the administrator's sole discretion. We encourage visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

  <h2>Contact</h2>
  <p>If you have any questions about our Privacy Policy, please <a href="mailto:nuswhispers@googlegroups.com" target="_blank">contact us</a>.</p>

  <h2>Change Log</h2>
  <p><strong>30 April 2015</strong>: First version of the privacy policy.</p>
</div>
