# Environment files
.env

# PHPUnit
phpunit.xml
.phpunit.result.cache

# Built files
/vendor
build
public/*
!public/favicon.ico
!public/index.php
!public/robots.txt

.vscode
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
