$background-color: #f5f5f5;
$primary-text-color: #666666;
$secondary-text-color: #8e8e8e;
$faded-text-color: #bbbbbb;
$nav-text-color: #ffffff;
$nav-section-label-color: #b24700;
$topbar-color: #eeeeee;
$topbar-height: 55px;
$topbar-elements-height: 35px;
$primary-color: #f55260;
$alternate-color: #f70;
$highlight-nav-color: #fff819;
$highlight-color: #fff819;
$shadow-color: #e0e0e0;

$twitter-color: #00b0f3;
$fb-color: #3b5998;

$sidebar-width: 240px;
