@import "bootstrap.scss";
@import "node_modules/typicons.font/src/font/typicons";

@import "variables.scss";

body {
    font-family: 'proxima-nova', sans-serif;
    font-size: 1.4em;
    color: $primary-text-color;
    background-color: $background-color;
}

a {
    color: $primary-color;
}

a:hover {
    color: $alternate-color;
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    text-decoration: none;
}

.highlight {
    color: $highlight-nav-color;
}

#wrapper {
    padding-left: $sidebar-width;
}

#main-content {
    margin-top: 15px;
}

.whispers-brand {
    float: none;
    padding: 1em 1em .25em;
    display: inline-block;
    height: auto;
}

.whispers-logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    float: left;
}

.whispers-logo-text {
    float: left;
    font-size: 85%;
    font-weight: 600;
    line-height: 30px;
    margin: .15em .4em;
}

// fix safari bug
.typcn:before {
    line-height: 1em;
}

// bootstrap tooltips
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $secondary-text-color;
}

.tooltip > .tooltip-inner {
    background-color: $secondary-text-color;
    color: #ffffff;
    opacity: 1;
}

.btn {
    color: $nav-text-color;
    background-color: $primary-color;
    border: none;

    &:hover {
        color: $highlight-nav-color;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        color: $highlight-nav-color;
    }
}

.btn-alt-style {
    background-color: $alternate-color;
}

#sidebar-wrapper {
    backface-visibility: hidden;
    background-color: $primary-color;
    height: 100%;
    position: fixed;
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    overflow-y: auto;

    hr {
        margin: .25em auto;
        opacity: 0.5;
        width: 90%;
    }

    .nav-section-label {
        color: darken($primary-color, 20%);
        font-size: 80%;
        padding: 0;
        margin: 1.65em 1.75em .5em;
        text-transform: uppercase;
    }

    a {
        color: $nav-text-color;
    }

    ul.nav {
        margin-bottom: 1em;

        li {
            a {
                font-size: 95%;
                padding: .4em 2.05rem;
                color: $nav-text-color;
                text-shadow: 1px 1px 0px rgba(0,0,0,0.05);
            }

            a:hover {
                color: $highlight-nav-color;
                background: transparent;
                cursor: pointer;
            }

            a:focus {
                color: $highlight-nav-color;
                background: transparent;
            }

            a .typcn {
                font-size: 20px;
            }

            a .typcn:after {
                content: ' ';
            }
        }

        li.active a {
            color: $highlight-nav-color;
        }
    }

    ul.nav.main-nav {
        margin: .5em 0 1em;

        li a {
            display: block;
            font-size: 115%;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        li.active {
            &:after {
                position: absolute;
                content: " ";
                right: 0;
                top: 50%;
                pointer-events: none;
                border-top: .6em solid transparent;
                border-bottom: .6em solid transparent;
                border-right: .6em solid $background-color;
                margin-top: -.3em;
            }
        }
    }
}

#main-wrapper {
    position: relative;
}

#content-wrapper {
    margin-top: 15px;
    width: 100%;
    display: inline-block; // clearfix
    padding: 0;
}

#content {
    padding: 0;
    width: 100%;
    padding: 0 1em;
}

label {
    font-weight: 400;
    color: lighten($primary-text-color, 10%);
    margin-bottom: 0.5em;
}

.btn {
    background: #ddd;
    color: $primary-text-color;
    &:hover {
        color: darken($primary-text-color, 20%);
    }
}

.btn-primary {
    background: $primary-color;
    color: #fff;

    &:hover, &:focus {
        color: $highlight-color;
        background: lighten($primary-color, 5%);
    }
}

.open > .btn-primary.dropdown-toggle {
    color: $highlight-color;
    background: lighten($primary-color, 5%);
}

.btn-danger {
    color: #c92e2c;

    &:hover {
        color: darken(#c92e2c, 10%);
        background: #ddd;
    }
}

.card {
    background: #fff;
    padding: 2em;
    border: 1px solid #eee;
}

.card-logo {
    &:before {
        background: url('../img/card_logo.png') no-repeat;
        background-size: 128px 128px;
        content: ' ';
        width: 128px;
        height: 128px;
        margin: 2em auto;
        display: block;
    }
}

.forgot-password {
    margin: 1.5em 0 0;
    text-align: center;
}

h1 {
    font-size: 130%;
    margin: 6px 0 14px;
    font-weight: 400;
}

h2 {
    font-size: 140%;
    font-weight: 400;
    color: $primary-color;
    margin: 1em 0;
}

.page-header {
    margin: 0 auto;
    padding-bottom: 6px;
    border-color: #ddd;

    .typcn {
        font-size: 125%;
        margin-right: .25em;
    }
}

#sidebar-wrapper {
    .main-nav li a {
        width: 99%;

        &:hover .badge {
            background: $highlight-color;
        }
    }
    .badge {
        float: right;
        margin-top: .5em;
        background: #fff;
        color: $primary-color;
        border-radius: 8px;
    }
    .active .badge {
        background: $highlight-color;
    }
}

.page-header {
    width: 100%;
    display: inline-block;

    .page-title {
        float: left;
    }

    .search-bar {
        margin-top: .5em;
        float: right;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: $background-color;
}

.search-filters {
    margin: 1em 0;

    .pagination {
        float: right;
        margin: .1em 0;

        >li a {
            color: $primary-color;
        }

        >.active span {
            background: $primary-color;
            border-color: $primary-color;
        }
    }
}

.btn-filter {
    margin-left: 1em;
}

.post-list {
    .post-header {
        margin: 1em;
        border-bottom: 1px solid #eaeaea;
        padding: 1em 0;
    }

    .post-meta {
        display: inline-block;
        color: lighten($primary-text-color, 30%);
        font-size: 95%;
    }

    .post-actions {
        display: inline-block;
        float: right;
    }

    .post {
        background: #fff;
        line-height: 1.6em;
        margin: 1em 0;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    }

    .post-content {
        padding: 0 1em 1em;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .post-image {
        padding: 0 1em 1em;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .post-footer {
        margin: 1em;
        border-top: 1px solid #eaeaea;
        padding: 1em 0;
    }

    .post-comments {
        float: right;
        span {
            font-size: 125%;
        }
    }
}

.admin-content-wrapper {
    padding: 0 1em;
    line-height: 1.5em;
}

.user-profiles-list {
    margin: 1.5em 0;

    tbody > tr > td {
        vertical-align: middle;
    }

    .typcn {
        font-size: 120%;
    }

    .actions {
        text-align: right;
    }
}

.edit-confessions-col {
    padding-right: 0;
}

.panel-photo img {
    max-width: 100%;
    height: auto;
}

.panel-status .label {
    font-size: 100%;
}

.panel-body .alert, .form .alert {
    margin: .5em 0 0;
    padding: .5em .75em;
}

.panel-body .checkbox:first-child {
    margin-top: 0;
}

.schedule-confession {
    margin: 1em 0;
    padding: 1em .5em;
    border: solid #ddd;
    border-width: 1px 0;
    text-align: center;
}

.status-history-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 95%;

    li {
        padding: 1em 0;
        border-bottom: 1px solid #efefef;

        &:first-child {
            padding-top: 0;
        }
    }

    .status-meta {
        display: block;
        color: lighten($primary-text-color, 30%);
    }
}

.profile-form {
    margin: 0 0 1em;
}
.user-form {
    margin: 1em 0;
}

.user-list > tbody > tr > td {
    vertical-align: middle;
}


.comment-meta {
    background: #f5f5f5;
    padding: .75em 1em;
    font-size: 95%;
    color: #999;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    p {
        float: left;
        margin: 0;
    }
}

.comment-author {
    font-weight: 400;
    color: #333;
}

.comment-content {
    padding: .75em 1em;
    margin-bottom: 1em;
}

.delete-comment {
    float: right;
    font-size: 125%;
    line-height: 0;
    color: #999;

    &:hover {
        color: $primary-color;
    }
}

@media (max-width: 768px) {
    #wrapper {
        padding-left: 0px;
    }

    body.sidebar-opened {
        overflow: hidden;
    }

    .sidebar-opened #wrapper {
        padding-left: $sidebar-width;

        #sidebar-wrapper {
            width: $sidebar-width;
        }

        #main-wrapper {
            margin-right: -$sidebar-width;
        }
    }

    #sidebar-wrapper {
        width: 0px;
    }

    #main-wrapper {
        width: 100%;
        position: absolute;
    }

    .navbar-toggle {
        display: block;
        float: left;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: ($topbar-height - $topbar-elements-height) / 2;
        height: $topbar-elements-height;
        background-color: $secondary-text-color;

        .icon-bar {
            background-color: $topbar-color;
        }
    }

    .navbar-toggle:hover {
        .icon-bar {
            background-color: $highlight-nav-color;
        }
    }

    #content-wrapper {
        margin-top: 50px;
    }
}
