<div
  id="post-list"
  infinite-scroll="vm.getConfessions()"
  infinite-scroll-disabled="vm.loadingConfessions || !vm.doLoadMoreConfessions"
  infinite-scroll-distance="1"
>
  <div
    class="alert"
    ng-show="vm.view === 'favourites' && vm.fbUser.accessToken === '' && !vm.loadingConfessions"
  >
    Please log in to view your favourites or
    <a href="/#!home">go back to the main page</a>.
  </div>
  <div
    class="alert"
    ng-show="vm.view !== 'favourites' && (vm.confessions.length === 0) && !vm.loadingConfessions"
  >
    No confessions to display.
    <a href="/#!submit">How about submitting your own?</a>
  </div>
  <div
    ng-hide="vm.view === 'favourites' && vm.fbUser.accessToken === ''"
    class="post"
    ng-repeat="confession in vm.confessions"
  >
    <div class="post-header">
      <span ng-show="confession.categories.length === 0">
        No Category
      </span>
      <span ng-repeat="category in confession.categories">
        <a href="/#!category/{{ category.confession_category_id }}">{{
          category.confession_category
        }}</a
        >{{ $last ? '' : ', ' }}
      </span>
      <div class="share-social-media">
        SHARE:
        <a
          href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fnuswhispers.com%2Fconfession%2F{{
            confession.confession_id
          }}/"
          target="_blank"
          class="btn btn-social-media"
        >
          <span class="typcn typcn-social-twitter"></span>
        </a>
        <a
          ng-click="vm.shareConfessionFB(confession.confession_id)"
          target="_blank"
          class="btn btn-social-media"
        >
          <span class="typcn typcn-social-facebook"></span>
        </a>
      </div>
    </div>
    <div class="post-content">
      <a
        ng-href="/#!tag/{{ confession.confession_id }}"
        ng-bind="'#' + confession.confession_id"
      ></a
      >:&nbsp;
      <span
        class="post-text"
        ng-bind-html="confession.content | escapeHtml | linkTags | parseUrl"
      ></span
      ><br />
      <img
        class="post-image"
        ng-hide="confession.images == null"
        ng-src="{{ confession.images }}"
      />
      <div class="post-facebook-link">
        <a
          ng-href="https://www.facebook.com/permalink.php?story_fbid={{
            confession.fb_post_id
          }}&id={{ vm.fbUser.pageId }}"
          target="_blank"
          >View on Facebook</a
        >
      </div>
    </div>
    <div class="post-footer">
      <span class="typcn typcn-watch"></span
      ><span
        am-time-ago="confession.status_updated_at_timestamp || confession.status_updated_at"
        am-preprocess="unix"
        class="post-time"
      ></span>
      <div class="post-media-summary">
        <a href="/#!home" class="tweets-count liked" target="_blank">8</a>
        <a
          ng-href="https://www.facebook.com/permalink.php?story_fbid={{
            confession.fb_post_id
          }}&id={{ vm.fbUser.pageId }}"
          target="_blank"
          class="post-media-action-btn show-comments-btn"
          tooltip-placement="bottom"
          uib-tooltip="View Comments on Facebook"
          >{{ confession.facebook_information.comments.data.length }}</a
        >
        <a
          ng-click="vm.toggleLikeConfession(confession)"
          ng-class="{liked: vm.confessionIsLiked(confession)}"
          class="post-media-action-btn fb-likes"
          target="_blank"
          tooltip-placement="bottom"
          uib-tooltip="{{
            vm.fbUser.accessToken === ''
              ? 'Login to Like'
              : vm.confessionIsLiked(confession)
              ? 'Unlike'
              : 'Like'
          }}"
          >{{ confession.facebook_information.likes.summary.total_count }}</a
        >
        <a
          ng-click="vm.toggleFavouriteConfession(confession)"
          ng-class="{liked: vm.confessionIsFavourited(confession)}"
          class="post-media-action-btn favs-count"
          target="_blank"
          tooltip-placement="bottom"
          uib-tooltip="{{
            vm.fbUser.accessToken === ''
              ? 'Login to Favourite'
              : vm.confessionIsFavourited(confession)
              ? 'Unfavourite'
              : 'Favourite'
          }}"
          >{{ confession.favourites.length }}</a
        >
      </div>
    </div>
  </div>
  <div ng-show="vm.loadingConfessions" class="loading"></div>
</div>
