<div class="form-group" ng-show="vm.form.submitSuccess" ng-show="">
    Thanks for telling us your story! We'll read it as soon as we can. In the meantime, you can
    <a href="/#!submit">write another confession</a> or
    <a href="/#!home">read other confessions</a>.
    <br><br>
    By the way, if you haven't already, <a href="https://www.facebook.com/nuswhispers" target="_blank">please like us on Facebook!</a> We'll love you long time. <span class="typcn typcn-heart-full-outline">
</div>
<form class="submit-confession-form" ng-submit="vm.submitConfession()" ng-show="!vm.form.submitSuccess">
    <h1 class="fancy-header">Submit a Confession</h1>
    <div class="form-group">
        <p>Have an interesting story to share or just need to get something off your chest? Tell us your story here! No one will know it was you.</p>
        <p>Please be reminded to be socially responsible. No racial, religious or other forms of sensitive material. These entries will be rejected (and make us sad).</p>
        <p>If you are an official organization / body that wish to submit a confession to NUSWhispers. Please verify your authenticity and submit via <a href="mailto:admin@whispers.sg">email</a>. Otherwise, they will be rejected.</p>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="vm.hasConfessionLimitExceeded()">
        You've submitted too many confessions today! Please try again tomorrow.
    </div>
    <div class="form-group">
        <div class="form-group-header">
            <span class="typcn typcn-pencil"></span> Your Story
        </div>
        <div class="tag-highlight-wrapper">
            <div class="tag-highlight form-control" ng-bind-html="vm.contentTagHighlights" ng-trim="false"></div>
            <textarea class="msd-elastic form-control" ng-required="true" ng-change="vm.highlightTags()" ng-model="vm.confessionData.content" ng-trim="false" placeholder="Tell us your story..."></textarea>
        </div>
        <button type="button" ng-click="vm.uploadConfessionImage()" class="btn">
            <span class="typcn typcn-image"></span> {{form.imageSelected ? 'Choose Another Image' : 'Choose an Image'}}
        </button><span class="side-note">You may add a suitable image to express yourself</span>
        <a ng-show="vm.form.imageSelected"><img src="{{vm.confessionData.image}}" class="thumbnail"/></a>
    </div>

    <div class="form-group">
        <div class="form-group-header">
            <span class="typcn typcn-folder"></span> Category
        </div>
        <div class="container-fluid">
            <div class="checkbox-wrapper col-md-3" ng-repeat="category in vm.categories">
                <input id="category-checkbox-{{category.confession_category_id}}" type="checkbox" value="{{category.confession_category_id}}" ng-click="vm.toggleCategorySelection(category)"></input>
                <label for="category-checkbox-{{category.confession_category_id}}">
                    {{category.confession_category}}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-header">
            <span class="typcn typcn-heart-full-outline"></span> Don't Spam
        </div>
        <div vc-recaptcha on-success="vm.setRecaptchaResponse(response)"></div>
    </div>

    <button class="btn" type="submit" ng-disabled="vm.form.submitButtonDisabled">Submit</button><span class="side-note">Your submission is totally anonymous.</span>
    <div class="alert alert-danger" role="alert" ng-show="vm.form.errors.length > 0">
        Oops! We could not submit your confession. Fix up these errors before trying again:
        <ul ng-repeat="error in vm.form.errors">
            <li>{{error}}</li>
        </ul>
    </div>
</form>
